body {
    background :white;
    color :black;
    padding :20px;
    
}

#d1 {
    background-color:black;
    color:white;
    font-size: 50px;
    text-align:center;
}
.box {
    width :max-content;
    margin :auto;
}
.product-desc {
    display :block;
    background :white;
    border :10px solid whitesmoke;
    padding :20px;
    width :400px;
    height :700px;
    object-fit :cover;
    border-radius :10px;
}
.product-class {
    width :300px;
    height :500px;
    object-fit :cover;
    display :block;
    margin: auto;
    border :1px solid rgb(229, 226, 226);
}
#d2 {
    font-family :Georgia, 'Times New Roman', Times, serif;
    font-size :30px;
    /* text-transform :capitalize */
}
p {
    width :100%;
    font-style :arial;
    font-weight :500;
    /* text-transform :capitalize; */
}
.new-price {
    font-weight :bold;
    line-height :30px;
    font-size :20px;
    color :rgba(10, 59, 24, 0.875);
}
.old-price {
    text-decoration :line-through;
    font-weight :bold;
     font-size :20px;
    line-height :30px;
}
 

.click {
    background-color :rgb(69, 69, 208);
    border :none;
    padding :12px;
    font-size :16px;
    width :100%;
    color :white;
    font-family :Georgia, 'Times New Roman', Times, serif;
}
    



